# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data artifacts
data/processed/
data/aggregations/